body {
    background-size: cover;
}

.heading {
    font-size: 23px;
    margin: 0px;
    width: 100%;
    border-radius: 0px;
}

#start, #number_of_objects, #status {
    font-size: 18px;
}

.copy_right_footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    background-color: grey;
    text-shadow: 3px 3px 3px black;
    line-height: 25px;
    font-size: 20px;
}

canvas {
    border: 2px solid skyblue;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px white;
}

